@font-face {
    font-family: 'Discord1';
    src: url('../assets/fontes/Discord1.woff2');
}
@font-face {
    font-family: 'Discord2';
    src: url('../assets/fontes/Discord2.woff2');
}
@font-face {
    font-family: 'Discord3';
    src: url('../assets/fontes/Discord3.woff2');
}
@font-face {
    font-family: 'Discord4';
    src: url('../assets/fontes/Discord4.woff2');
}
@font-face {
    font-family: 'Discord5';
    src: url('../assets/fontes/Discord5.woff2');
}